@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles-means one style used for multiple class in html page*/
.display-flex{
  display: flex;
}
.text-primary{
  color: #FF900E;
}
/* dark 02 */
.text-gray{
  color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}  
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}       
          
.btn-primary{
  padding: 20px 25px;
  background-color: #FF900E;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
/*border-color: rgba(255, 255, 255, 0);
  */
}
/* main releated styles */
main{
  /* maximum 1440 ba ter beshi */
  max-width: 1440px;
  margin: 0 auto;
}

main>section{
  margin-top: 130px;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
          /* header styles */

/* navbar releated styles */
.navbar{
  justify-content: space-between;
  align-items:center;
}
.brand{
  font-weight:700;
  /* akhane rem=16px, so 45 px = at least 3 rem means,3 gun for responsive font size. 
  "rem unit" font er size device onujaie choto boro korbe. */
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  
}
/* max-width =use hoi responsive limit er jonno ate image or text overflow hoi na & width =use hoi fixed size er jonno ate image or text overflow hoi. */
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-description{
  font-weight: 400;
  font-size: 1rem;
}
.banner-image{
  width: 100%;
}
/* team and feature related styles */
.teams{
  align-items: center;
  
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:20px;
 
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}

#quick-list{
  font-weight: 500;
}
/* features section related styles */
.Features{
  gap: 140px;
}
#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.feature-card{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}

  .featured-architect img{
    width: 100%;
  }

/* some facts related styles */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.fact-number{
  /* font-size 45px=2.8rem */
  font-size: 2.8rem;
  font-weight: 600;
  margin-top : 10px;
  margin-bottom: 5px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top : 10px;
  margin-bottom: 5px;
}
.fact-description{
  max-width: 542px;
}
/* sponsor related styles */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;

}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);

}
.sponsor-companies img{
  filter:grayscale(100%);
  -webkit-filter:grayscale(100%);
}
/* footer section started */
.footer-box{
  max-width: 1440px;
  height: 100px;
  background-color: #FFF4E7;
  margin: 130px auto;
}
 .footer-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* text-align: center; */
  font-size: 1.25rem;
  font-weight: 500;
}
/* responsive media query */
@media screen and (max-width:576px) {
  /* ja flex korsi sob column korbo */
  .navbar,
  .nav-links,
  .Features, 
  .teams{
    flex-direction: column;
    /* view  */
  }
  .team-img-container, 
  .facts-container,
  .sponsor-companies{
    grid-template-columns: 1fr;
    /* gap: 24px; */
   
    /* 

    grid-template-columns: repeat(1, 1fr);
    short-form is
    grid-template-columns: 1fr; 
    they are same for single columns changed.

    
    */

  }
  .facts-container{
    justify-items: center;
        gap: 24px;
  }
  .sponsor-companies{
    justify-items: center;
    gap: 50px;
  }
  .our-features{
    margin-left: 20px;
  }
  .sponsor-companies{
    grid-template-columns: repeat(2,1fr);


  }
  #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
    
  }
.footer-description{
  text-align: center;
  max-width: 100%;
}
}


/* medium size device */
@media screen and (min-width:576px) and (max-width:992px){
/* medium er jonno minimum & maximum 
size ullekh korte hobe */
.teams, .Features{
  flex-direction: column;

}
.our-features{
    margin: 50px auto;
  }

   .sponsor-companies,.facts-container{
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    justify-items: center;

  }
   #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
    
  }
  .footer-description{
  text-align: center;
  max-width: 100%;
}
}